*{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(13, 17, 23);
  color:white;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 24px;
}


#🏆{ grid-area: ponthatar; }
#📊{ grid-area: statisztika; }
#📇{ grid-area: ertekeles; }
#canvaselem{ grid-area: boxplot; }
#canvaselem2{ grid-area: eloszlas; }

main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "ertekeles eloszlas boxplot"
    "ponthatar statisztika boxplot";
  justify-items: center;
  align-items: center;
  gap:20px;
}

#📇, #🏆, #📊{
  list-style-type: none;
}

#📇 span, #🏆 span, #📊 span{
  color:gold;
}


#canvaselem{
  align-self: start;
  justify-self:stretch;  
  
}

#canvaselem2{
  justify-self:stretch;  
}
/* 
.prec_to_jegy {
    position: relative;
    flex: 1;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.separator {
    width: 80%;
    height: 2px;
    background-color: #d9faff;
    position: absolute;
    bottom: 0px;
}

.canvas2_div {
    flex: 1;
    height: 50%;
    margin-top: 10px;
}

.adatok {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 */
canvas {
  background-color: #ffffff;
}